streamlit==1.39.0
pyautogen==0.2.16
flaml[automl]
chromadb==0.4.24
pandas
matplotlib
seaborn
dask[dataframe]
requests==2.31.0  # Required for Edamam API calls
openai
numpy<2.0
protobuf==3.20.3
pysqlite3-binary
pypdf==3.15.0  
IPython
